<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <h1>班级列表</h1>

<table>
    <tr>
        <td>班级编号</td>
        <td>班级名称</td>
        <td>班级人数</td>
        <td>班主任编号</td>
    </tr>
    <tr th:each="cls:${clsList}">
        <td th:text="${cls.id}">班级编号</td>
        <td th:text="${cls.cname}">班级名称</td>
        <td th:text="${cls.cnum}">班级人数</td>
        <td th:text="${cls.tid}">班主任编号</td>
    </tr>
</table>
</body>
</html>
    
    
  